
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ddd9d9;
}
ul.header li{
  display: inline-flex;
  list-style-type: none;
margin-right: 1rem;

}
ul.header a{
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  min-width: 100px;
}
.active{
  background-color: #167dec;
}
.square{
  background: #fff;
  border: 1px solid #999;
  width: 60px;
  height: 60px;
  font-size: 1.6rem;
  font-weight: bold;
  float: left;
}
.board-row{
  clear: both;
  height: 60px;
}
.content {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
}